<div class="grid">
	<div class="row space-bot">
		<!--Logo-->
		<div class="c4">
			<a href="/">
			<img src="../assets/images/logo.png" class="logo" alt="">
			</a>
		</div>
		<!--Menu-->
		<div class="c8">
			<nav id="topNav">
			<ul id="responsivemenu">
				<li class="active"><a routerLink="/home"><i class="icon-home homeicon">
				 </i><span class="showmobile">Home</span></a></li>
				<li><a routerLink="/about">About</a> </li>
				<li><a routerLink="/services">Services</a> </li> 
				<li><a routerLink="/gallery">Gallery</a> </li>				
				<li class="last"><a routerLink="/contactus">Contact</a></li>				
			</ul> 
			</nav>
		</div>
	</div>
</div>