<div class="grid">
		<div class="shadowundertop"></div>
		<div class="row">
			<div class="c8">
				<h1 class="maintitle ">
				<span>OUR HISTORY</span>
				</h1>
				<p>
					<span class="dropcap">S</span>unt in anim uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim id est laborum. Allamco laboris nisi ut aliquip ex ea commodo consequat. Aser velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in anim.
				</p>
				<ul class="icons">
					<li><i class="icon-double-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing maecenas sed justo varius velit imperdiet bibendum et rutrum.</li>
					<li><i class="icon-double-angle-right"></i> Aliquam hendrerit lacus mattis orci fermentum mollis maecenas sed justo varius velit imperdiet bibendum et rutrum.</li>
					<li><i class="icon-double-angle-right"></i> In et purus ut nunc elementum dapibus. Sov et purus maecenas sed justo varius velit imperdiet bibendum et rutrum.</li>
				</ul>
			</div>
			<div class="c4">
				<h1 class="maintitle">
				<span>SKILLS</span>
				</h1>
				<ul id="skill">
					<li><span class="bar progressdefault" style="width:100%;"></span>
					<h3>Webdesign 100%</h3>
					</li>
					<li><span class="bar progressdefault" style="width:80%;"></span>
					<h3>jQuery 80%</h3>
					</li>
					<li><span class="bar progressdefault" style="width:60%;"></span>
					<h3>Wordpress 60%</h3>
					</li>
				</ul>
			</div>
		</div>
		<!-- OUR TEAM
		================================================== -->
		<div class="row space-top space-bot">
			<div class="c12">
				<h1 class="maintitle text-center">
				<span>Meet the Team</span>
				</h1>
			</div>
			<!-- box 1 -->
			<div class="c3" style="text-align:center;">
				<img src="http://placehold.it/270x180" class="imgOpa teamimage" alt="">
				<div class="teamdescription">
					<h1>John Doe</h1>
					<span class="hirefor">Product Designer</span>
				</div>
			</div>
			<!-- box 2 -->
			<div class="c3">
				<img src="http://placehold.it/270x180" class="imgOpa teamimage" alt="">
				<div class="teamdescription">
					<h1>Brian V. Roberts</h1>
					<span class="hirefor"> Senior Designer</span>
				</div>
			</div>
			<!-- box 3 -->
			<div class="c3">
				<img src="http://placehold.it/270x180" class="imgOpa teamimage" alt="">
				<div class="teamdescription">
					<h1>Mary C. Black</h1>
					<span class="hirefor">Lead Designer</span>
				</div>
			</div>
			<!-- box 4 -->
			<div class="c3">
				<img src="http://placehold.it/270x180" class="imgOpa teamimage" alt="">
				<div class="teamdescription">
					<h1>Bossy Joe</h1>
					<span class="hirefor">Our Boss</span>
				</div>
			</div>
			<!-- end box4 -->			
		</div>
		<!-- CLIENTS
		================================================== -->
		<div class="row space-top">
			<div class="c12 space-top">
				<h1 class="maintitle">
				<span>Clients</span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="c12">
				<div class="list_carousel">
					<div class="carousel_nav">
						<a class="prev" id="car_prev" href="#"><span>prev</span></a>
						<a class="next" id="car_next" href="#"><span>next</span></a>
					</div>
					<div class="clearfix">
					</div>
					<ul id="recent-projects">
						<!--box 1-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 2-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 3-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 4-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 5-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 6-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 7-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
						<!--box 8-->
						<li>
						<div class="featured-projects clientslogo">
							<div class="featured-projects-image">
								<a href="#"><img src="http://placehold.it/220x140" class="imgOpa" alt=""></a>
							</div>
						</div>
						</li>
					</ul>
					<div class="clearfix">
					</div>
				</div>
			</div>
		</div>
</div><!-- end grid -->
