<div class="grid">
	<div class="row space-bot">
		<!--INTRO-->
		<div class="c12">
			<div class="royalcontent">
				<h1 class="royalheader">WELCOME TO SALIQUE, MULTI-PURPOSE THEME</h1>
				<h1 class="title" style="text-transform:none;">Html theme with awesome features, sliders, unlimited colors &amp; much more!</h1>
			</div>
		</div>
		<!--Box 1-->
		<div class="c4">
			<h2 class="title hometitlebg"><i class="icon-qrcode smallrightmargin"></i> Responsive Theme</h2>
			<div class="noshadowbox">
				<h5>DELIVERY</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit lacus mattis orci fermentum mollis iaculis purus lobortis. In et purus ut nunc elementum dapibus facilisis in quam.
				</p>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
		<!--Box 2-->
		<div class="c4">
			<h2 class="title hometitlebg"><i class="icon-cog smallrightmargin"></i> Unlimited Colors</h2>
			<div class="noshadowbox">
				<h5>QUALITY</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit lacus mattis orci fermentum mollis iaculis purus lobortis. In et purus ut nunc elementum dapibus facilisis in quam.
				</p>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
		<!--Box 3-->
		<div class="c4">
			<h2 class="title hometitlebg"><i class="icon-user" style="margin-right:10px;"></i> MultiPurpose Use</h2>
			<div class="noshadowbox">
				<h5>PRICING</h5>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit lacus mattis orci fermentum mollis iaculis purus lobortis. In et purus ut nunc elementum dapibus facilisis in quam.
				</p>
				<p class="bottomlink">
					<a href="#" class="neutralbutton"><i class="icon-link"></i></a>
				</p>
			</div>
		</div>
	</div>
	<!-- SHOWCASE
	================================================== -->
	<div class="row space-top">
		<div class="c12 space-top">
			<h1 class="maintitle ">
			<span>SHOWCASE</span>
			</h1>
		</div>
	</div>
	<div class="row space-bot">
		<div class="c12">
			<div class="list_carousel">
				<div class="carousel_nav">
					<a class="prev" id="car_prev" href="#" style="display: block;"><span>prev</span></a>
					<a class="next" id="car_next" href="#" style="display: block;"><span>next</span></a>
				</div>
				<div class="clearfix">
				</div>
				<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 1188px; height: 273px; margin: 0px; overflow: hidden;"><ul id="recent-projects" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; z-index: 1; margin: 0px; width: 5940px; height: 273px;">
					<!--featured-projects 1-->
					
					<!--featured-projects 2-->
					
					<!--featured-projects 3-->
					
					<!--featured-projects 4-->
					
					<!--featured-projects 5-->
					<li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Nunc elementum</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li>
					<!--featured-projects 6-->
					<li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt="" style="opacity: 1;"></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Dolor sit amet</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li>
					<!--featured-projects 7-->
					<li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">HTML Theme</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li>
					<!--featured-projects 8-->
					<li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Salique bedroom</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li>
				<li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Dolor sit amet</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li><li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Nunc elementum </a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li><li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Sit amet</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li><li style="width: 287px;">
					<div class="featured-projects">
						<div class="featured-projects-image">
							<a href="#"><img src="http://placehold.it/275x180" class="imgOpa" alt=""></a>
						</div>
						<div class="featured-projects-content">
							<h1><a href="#">Dapibus facilisis</a></h1>
							<p>
								 porta acean pulvinar
							</p>
						</div>
					</div>
					</li></ul></div>
				<div class="clearfix">
				</div>
			</div>
		</div>
	</div>
	<!-- CALL TO ACTION 
	================================================== -->
	<div class="row space-bot">
		<div class="c12">
			<div class="wrapaction">
				<div class="c9">
					<h1 class="subtitles">Salique is incredibly awesome, with a refreshingly clean design</h1>
					 We produce comprehensive mapping of consumers' relationships with communications across bought, owned &amp; earned media based on bespoke insight. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit lacus mattis orci fermentum mollis iaculis.
				</div>
				<div class="c3 text-center" style="margin-top:40px;">
					<div class="actionbutton">
						<i class=" icon-download-alt"></i> DOWNLOAD NOW
					</div>
				</div>
			</div>
		</div>
	</div>
</div>